/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Navbar */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Contenedor del buscador */
.buscador-container {
    display: flex;
    align-items: center;
}

.buscador-container input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 200px;
}

/* Botón de la lupa */
.buscador-container .search-button {
    background-color: #575757;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}

.buscador-container .search-button:hover {
    background-color: #444;
}

/* Secciones */
.seccion {
    display: none; /* Cambiar a 'block' cuando la sección se muestre */
    padding: 20px;
}

#inicio, #productos, #catalogo, #productosCategoria, #contacto {
    padding-top: 50px;
}

/* Estilo para las cards de categorías */
.categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Cards de productos */
.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.producto h3 {
    font-size: 18px;
    color: #333;
}

.producto p {
    font-size: 14px;
    color: #666;
}

/* Botón de volver */
.volver-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.volver-btn:hover {
    background-color: #575757;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
