# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
*.log

# Django stuff:
*.sqlite3
db.sqlite3

# Environment variables
.env

# Virtual Environments
env/
venv/

# Static files
staticfiles/

# Media files
media/

# VSCode configuration files
.vscode/
