{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">  {# Asegúrate de incluir tu CSS aquí #}
{% endblock %}

{% block content %}

<!-- Carrusel de Bootstrap -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/carrusel_1.jpg' %}" class="d-block w-100" alt="Descripción de la imagen 1">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carrusel_2.jpg' %}" class="d-block w-100" alt="Descripción de la imagen 2">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carrusel_3.jpg' %}" class="d-block w-100" alt="Descripción de la imagen 3">
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<!-- Contenedor de categorías y carrusel de productos -->
<div class="container mt-4">
    <div class="row">
        
        <!-- Categorías -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categorías</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Baño y cocina</li>
                        <li class="list-group-item">Pinturas y pastas</li>
                        <li class="list-group-item">Jardín y accesorios</li>
                        <li class="list-group-item">Fijaciones</li>
                        <li class="list-group-item">Revestimientos</li>
                    </ul>
                </div>
            </div>
        </div>
        

        <!-- Carrusel de productos -->
        <div class="col-md-8">
            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Aquí puedes agregar tus cards de productos -->
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <img src="{% static 'img/grifo-negro-cocina-berna.jpg' %}" class="card-img-top" alt="Producto 1">
                                    <div class="card-body">
                                        <h5 class="card-title">Grifo cocina, Monomando de color negro marca Hoffens</h5>
                                        <p class="card-text">Código: BC-0001</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="{% static 'img/cerecita.jpg' %}" class="card-img-top" alt="Producto 2">
                                    <div class="card-body">
                                        <h5 class="card-title">Pintura blanca lavable marca Cerecita</h5>
                                        <p class="card-text">Código: PP-0001</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="{% static 'img/manguera_tramontina.jpg' %}" class="card-img-top" alt="Producto 3">
                                    <div class="card-body">
                                        <h5 class="card-title">Manguera verde marca Tramontina</h5>
                                        <p class="card-text">Código: JA-0001</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="{% static 'img/tornillo_fijacion.jpg' %}" class="card-img-top" alt="Producto 2">
                                    <div class="card-body">
                                        <h5 class="card-title">Tornillo de fijación marca Rhona</h5>
                                        <p class="card-text">Código: FI-0001</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="{% static 'img/ceramica_cordillera.jpg' %}" class="card-img-top" alt="Producto 2">
                                    <div class="card-body">
                                        <h5 class="card-title">Baldosas cerámica</h5>
                                        <p class="card-text">Código: RV-0001</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Puedes agregar más carruseles aquí -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Sección de características -->
<section class="features text-center">
    <div class="container">
        <h2 class="mb-4">Características de Nuestros Productos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="fas fa-tools fa-3x mb-2"></i>
                    <h3>Productos de Calidad</h3>
                    <p>Ofrecemos una amplia variedad de productos garantizados para todas tus necesidades.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="fas fa-shipping-fast fa-3x mb-2"></i>
                    <h3>Envío Rápido</h3>
                    <p>Contamos con un servicio de logística ágil para que recibas tus pedidos a tiempo.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="fas fa-headset fa-3x mb-2"></i>
                    <h3>Soporte Técnico</h3>
                    <p>Estamos aquí para ayudarte con cualquier duda o consulta que tengas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
