{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Carrito de Compras</title>
</head>
<body>
    <header>
        <h1>Carrito de Compras</h1>
        <div>
            Total de productos: {{ productos.count }} artículos
        </div>
    </header>
    
    <main>
        <ul>
            {% for item in productos %}
                <li>
                    <div>
                        <img src="{{ item.producto.imagen_producto.url }}" alt="{{ item.producto.nombre_producto }}" style="width: 50px; height: 50px; object-fit: cover;"> <!-- Miniatura -->
                        <h2>{{ item.producto.nombre_producto }}</h2>
                        <p>Cantidad: {{ item.cantidad }}</p>
                        <p>Precio unitario: {{ item.producto.precio_producto|floatformat:2 }}</p>
                        <p>Total: {{ item.cantidad|floatformat:2|add:item.producto.precio_producto }}</p>
                    </div>
                </li>
            {% empty %}
                <li>El carrito está vacío.</li>
            {% endfor %}
        </ul>
        <h3>Total: {{ total }}</h3>
    </main>
</body>
</html>
