{% extends 'base.html' %}
{% block content %}
<h2>Catálogos</h2>
<ul>
    {% for catalogo in object_list %}
        <li>
            <a href="{% url 'categoria-detail' catalogo.pk %}">{{ catalogo.nombre_categoria }}</a>
            {% if request.user.is_staff %}
                <a href="{% url 'categoria-delete' catalogo.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% if request.user.is_staff %}
    <a href="{% url 'categoria-create' %}">Crear Nuevo Catálogo</a>
{% endif %}
{% endblock %}
