{% extends 'base.html' %}
{% load static %}

{% block title %}Categorías - Ferretería Ferremas{% endblock %}

{% block content %}
    <h2>Categorías</h2>
    <div class="categorias">
        <div class="card">
            <h3>Baño y cocina</h3>
        </div>
        <div class="card">
            <h3>Pinturas y pastas</h3>
        </div>
        <div class="card">
            <h3>Jardín y accesorios</h3>
        </div>
        <div class="card">
            <h3>Fijaciones</h3>
        </div>
        <div class="card">
            <h3>Revestimientos</h3>
        </div>
    </div>
{% endblock %}