{% extends 'base.html' %}
{% load static %}

{% block title %}Productos - Ferretería Ferremas{% endblock %}

{% block content %}
    <h2>Productos</h2>
    <p>Esta es la sección de productos.</p>
    <div class="productos">
        <div class="producto">
            <h3>Destornillador Phillips</h3>
            <p>Categoría: Herramientas</p>
            <p>Código: he001</p>
            <p>Precio Unitario: $25</p>
            <p>Precio Caja: $50</p>
        </div>
        <!-- Agrega más productos aquí -->
    </div>
{% endblock %}