{% extends 'base.html' %}
{% load static %}
{% comment %} detalle del producto {% endcomment %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/producto_detalle.css' %}"> 
{% endblock %}

{% block content %}
{% if object %}
    <h2>Detalles de {{ object.nombre_producto }}</h2>
    <img src="{{object.imagen_producto.url}}"></img>
    <p>Código: {{ object.codigo_interno }}</p>
    <p>Precio: ${{ object.precio_producto }}</p>
    <p>Estado: {{ object.estado_producto|yesno:"Activo,Inactivo" }}</p>
    <p>Categoría: {{ object.categoria_producto.nombre_categoria }}</p>

    <a href="{% url 'producto-list' %}">Volver a la lista de productos</a>

    <!-- Solo mostrar los enlaces de edición y eliminación si el usuario es administrador -->
    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'producto-update' object.pk %}">Editar</a>
        <a href="{% url 'producto-delete' object.pk %}">Eliminar</a>
    {% endif %}
{% else %}
    <p>Producto no encontrado.</p>
    <a href="{% url 'producto-list' %}">Volver a la lista de productos</a>
{% endif %}
{% endblock %}
