{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/producto_list.css' %}">  {# Asegúrate de incluir tu CSS aquí #}
{% endblock %}

{% block content %}
    <main>
        <ul>
            {% for producto in productos %}
                <li>
                    <h2>{{ producto.nombre }}</h2>
                    <p>Descripción: {{ producto.descripcion }}</p>
                    <p>Precio: {{ producto.precio }}</p>
                    <form method="POST" action="{% url 'agregar_a_carrito' producto.id %}">
                        {% csrf_token %}
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </li>
            {% empty %}
                <li>No hay productos disponibles.</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
